body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #aaa;
    overflow-x: hidden;
    min-width:100%;
}
h4{font-family: 'Titillium Web', sans-serif;
    color:#484;
}
h2{
    color: brown;
}
h1{
    font-size: 80em ;
}


  .ui.dark.card {
    background:#DDD;
  }

  input{
    width:15em;
    font-size: 16px!important;
  }

  label{
    font-size: 16px!important;
  }